<?xml version="1.0" encoding="utf-8"?>
<RunSettings>

	<!-- Parameters used by tests at run time -->
	<TestRunParameters>
		<Parameter name="webAppUrl" value="https://trello.com/" />
		<Parameter name="webAppUserName" value="Admin" />
		<Parameter name="webAppPassword" value="Password" />

		<Parameter name="apiUrl" value="https://api.trello.com" />
		<Parameter name="trelloKey" value="" />
		<Parameter name="trelloToken" value="" />
		<Parameter name="userName" value="" />
	</TestRunParameters>

</RunSettings>